$color_1: #241400;
$color_2: #fff;
$color_3: #e16a00;
$color_4: #f2f2f2;
$font-family_1: sans-serif;
$background-color_1: #fffaf5;
$background-color_2: #fff;
$background-color_3: #e16a00;
$background-color_4: #000000;
$background-color_5: #391f00;

body {
    background-color: $background-color_1;
}
.container {
    width: 90%;
    margin: 0 auto;
    header {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
        .right_menu {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            .user_account {
                display: flex;
                column-gap: 8px;
                i {
                    font-weight: 400;
                }
                span {
                    font-family: $font-family_1;
                    font-size: 14px;
                    color: $color_1;
                    font-weight: 500;
                    line-height: normal;
                }
            }
            .hamburger {
                display: none;
                cursor: pointer;
                .bar {
                    width: 25px;
                    height: 3px;
                    margin: 5px auto;
                    display: block;
                    transition: all 0.3s ease-in-out;
                    background-color: $background-color_4;
                }
            }
        }
        .mobile_menu {
            display: none;
            position: fixed;
            width: 95%;
            height: 100vh;
            top: 0;
            left: 0;
            z-index: 99;
            background: rgba(36, 20, 0, 0.9);
        }
        .logo {
            img {
                width: 110px;
                height: 40px;
                margin-top: 20px;
                margin-left: 35px;
            }
        }
        nav {
            ul {
                display: flex;
                align-items: center;
                margin-top: 20px;
                column-gap: 25px;
                li {
                    position: relative;
                    &:hover {
                        color: $color_3;
                        text-decoration: underline;
                    }
                    a {
                        letter-spacing: 0.5px;
                        font-weight: 400;
                        font-family: $font-family_1;
                        text-decoration: none;
                        color: $color_1;
                        font-size: 12px;
                        &:hover {
                            color: $color_3;
                        }
                    }
                }
            }
        }
    }
    .button {
        .back_btn {
            width: 11%;
            height: 33px;
            background-color: #e16a00;
            font-size: 15px;
            font-family: sans-serif;
            font-weight: 700;
            text-decoration: none;
            color: #fff;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
        }
    }
    .book_info {
        width: 100%;
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        column-gap: 50px;

        .content {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 20px;

            span {
                width: 9%;
                height: 24px;
                background-color: #2f80ed;
                font-size: 13px;
                font-family: sans-serif;
                font-weight: 700;
                text-decoration: none;
                color: #fff;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h3 {
                font-size: 32px;
                font-family: sans-serif;
                font-weight: 700;
            }
            h4 {
                font-size: 18px;
                font-family: sans-serif;
                font-weight: 600;
            }
            h5 {
                font-size: 22px;
                font-family: sans-serif;
                font-weight: 500;
            }
            p {
                font-size: 18px;
                font-family: sans-serif;
                font-weight: 500;
                line-height: 30px;
            }
        }
        .img {
            width: 30%;
            img {
                width: 80%;
            }
        }
    }
    .user_feedback {
        width: 40%;
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        form {
            width: 30%;
            display: flex;
            flex-direction: row;
            width: 100%;
            border: none;
            padding: 3px;
            background-color: #fff;
            border-radius: 7px;
            box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
            input {
                width: 90%;
                flex-grow: 2;
                border: none;
                background-color: transparent;
                color: #000000;
                font-family: sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 3px;
                border-radius: 7px;
            }
            button {
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 7px;
                background-color: #e16a00;
                color: #fff;
                cursor: pointer;
                &:hover {
                    transform: scale(0.8);
                }
                i {
                    color: #fff;
                    border-radius: 30px;
                }
            }
        }
        .user_comment {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            .comment {
                height: 130px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 15px;
                background-color: #fff;
                border-radius: 7px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                .head {
                    width: 90%;
                    display: flex;
                    column-gap: 10px;
                    margin: 0 auto;
                    h3 {
                        font-size: 12px;
                        font-family: sans-serif;
                        font-weight: 600;
                    }
                    h4 {
                        font-size: 12px;
                        font-family: sans-serif;
                        font-weight: 500;
                    }
                }
                p {
                    width: 90%;
                    font-size: 12px;
                    font-family: sans-serif;
                    font-weight: 400;
                    line-height: 20px;
                    margin: 0 auto;
                }
            }
        }
    }

    .social_section {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 70px;
        h4 {
            font-size: 30px;
            font-family: $font-family_1;
            font-weight: 600;
        }
        .social {
            idth: 100%;
            display: flex;
            column-gap: 60px;
            a {
                width: 40%;
            }
            img {
                width: 80%;
            }
        }
    }
}
.popup {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 99;
    display: none;
    form {
        width: 25%;
        height: 250px;
        background-color: $background-color_2;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
        border-radius: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h3 {
            font-size: 20px;
            font-weight: 600;
            font-family: $font-family_1;
        }
        input {
            &:focus {
                outline: none;
            }
            width: 80%;
            height: 30px;
            border: 1px solid #cecece;
        }
        button {
            width: 80%;
            height: 35px;
            background-color: $background-color_3;
            border-radius: 3px;
            border: 1px solid #cecece;
            font-family: $font-family_1;
            color: $color_2;
            font-size: 13px;
        }
    }
}
.active_pop {
    display: block;
}
footer {
    width: 100%;
    height: 270px;
    background-color: $background-color_5;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    .menu_bar {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menus {
            display: flex;
            column-gap: 50px;
            .menu {
                ul {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    li {
                        font-family: $font-family_1;
                        color: $color_2;
                        font-weight: 300;
                        font-size: 13px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .term {
        margin-top: 80px;
        span {
            font-family: $font-family_1;
            color: $color_2;
            font-weight: 300;
            font-size: 13px;
        }
    }
    .mobile_footer {
        display: none;
    }
}
@media (max-width: 390px) {
    .container {
        width: 100%;
        header {
            .logo {
                img {
                    width: 100px;
                    height: 45px;
                    margin-top: 20px;
                    margin-left: 35px;
                }
            }
            nav {
                display: none;
            }
            .user_account {
                display: none;
                span {
                    display: none;
                }
            }
            .mobile_menu.active {
                position: fixed;
                width: 100%;
                height: 100vh;
                display: block;
                border-radius: 40px;
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                .navigate {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    text-align: justify;
                    margin-bottom: 300px;
                    ul {
                        width: 160px;
                        height: 160px;
                        padding: 18px;
                        border-radius: 35px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        row-gap: 30px;
                        li {
                            padding: 0;
                            margin: 0;
                            a {
                                color: $color_4;
                                font-size: 18px;
                                font-weight: 700;
                                font-family: $font-family_1;
                            }
                        }
                    }
                }
                .mobile_header {
                    img {
                        width: 110px;
                        height: 40px;
                        margin-top: 20px;
                        margin-left: 35px;
                    }
                }
            }
            .right_menu {
                margin-top: 20px;
                column-gap: 15px;
                .hamburger {
                    display: block;
                    z-index: 999;
                    margin-top: 0;
                    margin-right: 35px;
                }
                .hamburger.active {
                    .bar {
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(1) {
                            transform: translateY(8px) rotate(45deg);
                        }
                        &:nth-child(3) {
                            transform: translateY(-8px) rotate(-45deg);
                        }
                    }
                }
            }
        }
        .social_section {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
            h4 {
                font-size: 15px;
                font-family: $font-family_1;
                font-weight: 600;
            }
            .social {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 20px;
                margin: 0 auto;
                a {
                    width: 20%;
                }
                img {
                    width: 60%;
                }
            }
        }
        .button {
            margin-bottom: 50px;
            .back_btn {
                width: 22%;
                font-size: 12px;
                margin-left: 30px;
            }
        }
        .book_info {
            width: 100%;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 30px;
            margin: 0 auto;

            .content {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 20px;
                order: 2;

                span {
                    width: 18%;
                    height: 20px;
                    background-color: #2f80ed;
                    font-size: 13px;
                    font-family: sans-serif;
                    font-weight: 700;
                    text-decoration: none;
                    color: #fff;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                h3 {
                    font-size: 32px;
                    font-family: sans-serif;
                    font-weight: 700;
                }
                h4 {
                    font-size: 18px;
                    font-family: sans-serif;
                    font-weight: 600;
                }
                h5 {
                    font-size: 22px;
                    font-family: sans-serif;
                    font-weight: 500;
                }
                p {
                    font-size: 18px;
                    font-family: sans-serif;
                    font-weight: 500;
                    line-height: 30px;
                }
            }
            .img {
                width: 80%;
                order: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 60%;
                }
            }
        }
        .user_feedback {
            width: 70%;
            margin-top: 90px;
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            margin-left: 40px;

            .user_comment {
                .comment {
                    height: 220px;
                }
            }
        }
    }
    .popup {
        form {
            width: 65%;
        }
    }
    footer {
        width: 100%;
        height: 260px;
        .menu_bar {
            .logo {
                img {
                    display: none;
                }
            }
            display: none;
        }
        .term {
            display: none;
        }
        .mobile_footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 30px;
            margin: 0 auto;
            .logo {
                width: 80%;
                img {
                    width: 100%;
                }
            }
            ul {
                display: flex;
                column-gap: 7px;
                li {
                    color: $color_2;
                    font-family: $font-family_1;
                    font-size: 12px;
                    letter-spacing: 0;
                }
            }
            .terms {
                width: 80%;
                border-top: 1px solid white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 10px;
                p {
                    color: $color_2;
                    font-family: $font-family_1;
                    font-size: 12px;
                    margin-top: 20px;
                }
                span {
                    color: $color_2;
                    font-family: $font-family_1;
                    font-size: 12px;
                }
            }
        }
    }
}
@media (min-width: 391px) and (max-width: 500px) {
    .container {
        width: 100%;
        header {
            .logo {
                img {
                    width: 160px;
                    height: 50px;
                    margin-top: 20px;
                    margin-left: 35px;
                }
            }
            nav {
                display: none;
            }
            .right_menu {
                .user_account {
                    display: block;
                    span {
                        display: none;
                    }
                }
                margin-top: 20px;
                column-gap: 30px;
                .hamburger {
                    display: block;
                    z-index: 999;
                    margin-top: 0;
                    margin-right: 35px;
                }
                .hamburger.active {
                    .bar {
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(1) {
                            transform: translateY(8px) rotate(45deg);
                        }
                        &:nth-child(3) {
                            transform: translateY(-8px) rotate(-45deg);
                        }
                    }
                }
            }
            .mobile_menu.active {
                position: fixed;
                width: 100%;
                height: 100vh;
                display: block;
                border-radius: 40px;
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                .navigate {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    text-align: justify;
                    margin-bottom: 300px;
                    ul {
                        width: 160px;
                        height: 160px;
                        padding: 18px;
                        border-radius: 35px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        row-gap: 30px;
                        li {
                            padding: 0;
                            margin: 0;
                            a {
                                color: $color_4;
                                font-size: 18px;
                                font-weight: 700;
                                font-family: $font-family_1;
                            }
                        }
                    }
                }
                .mobile_header {
                    img {
                        width: 110px;
                        height: 40px;
                        margin-top: 20px;
                        margin-left: 35px;
                    }
                }
            }
        }
        .social_section {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
            h4 {
                font-size: 15px;
                font-family: $font-family_1;
                font-weight: 600;
            }
            .social {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 20px;
                margin: 0 auto;
                a {
                    width: 20%;
                }
                img {
                    width: 60%;
                }
            }
        }
        .button {
            margin-bottom: 50px;
            .back_btn {
                width: 16%;
                font-size: 12px;
                margin-left: 50px;
            }
        }
        .book_info {
            width: 100%;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 30px;
            margin: 0 auto;

            .content {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 20px;
                order: 2;

                span {
                    width: 13%;
                    height: 22px;
                    background-color: #2f80ed;
                    font-size: 13px;
                    font-family: sans-serif;
                    font-weight: 700;
                    text-decoration: none;
                    color: #fff;
                    border-radius: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .img {
                width: 80%;
                order: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 60%;
                }
            }
        }
        .user_feedback {
            width: 70%;
            margin-top: 90px;
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            margin-left: 50px;

            .user_comment {
                .comment {
                    height: 160px;
                }
            }
        }
    }
    .popup {
        form {
            width: 55%;
        }
    }
    footer {
        width: 100%;
        height: 260px;
        .menu_bar {
            .logo {
                img {
                    display: none;
                }
            }
            display: none;
        }
        .term {
            display: none;
        }
        .mobile_footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 30px;
            margin: 0 auto;
            .logo {
                width: 90%;
                img {
                    width: 100%;
                }
            }
            ul {
                display: flex;
                column-gap: 15px;
                li {
                    color: $color_2;
                    font-family: $font-family_1;
                    font-size: 14px;
                    letter-spacing: 1px;
                }
            }
            .terms {
                width: 90%;
                border-top: 1px solid white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 10px;
                p {
                    color: $color_2;
                    font-family: $font-family_1;
                    font-size: 14px;
                    margin-top: 20px;
                }
                span {
                    color: $color_2;
                    font-family: $font-family_1;
                    font-size: 14px;
                }
            }
        }
    }
}
@media (min-width: 501px) and (max-width: 768px) {
    .container {
        width: 100%;
        header {
            .logo {
                img {
                    width: 150px;
                    height: 70px;
                    margin-top: 20px;
                    margin-left: 35px;
                }
            }
            nav {
                display: none;
            }
            .mobile_menu.active {
                position: fixed;
                width: 100%;
                height: 100vh;
                display: block;
                border-radius: 40px;
                display: flex;
                flex-direction: column;
                row-gap: 25px;
                .navigate {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    text-align: justify;
                    margin-bottom: 300px;
                    ul {
                        width: 160px;
                        height: 160px;
                        padding: 18px;
                        border-radius: 35px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        row-gap: 30px;
                        li {
                            padding: 0;
                            margin: 0;
                            a {
                                color: $color_4;
                                font-size: 18px;
                                font-weight: 700;
                                font-family: $font-family_1;
                            }
                        }
                    }
                }
                .mobile_header {
                    img {
                        width: 110px;
                        height: 40px;
                        margin-top: 20px;
                        margin-left: 35px;
                    }
                }
            }
            .right_menu {
                margin-top: 20px;
                column-gap: 30px;
                .hamburger {
                    display: block;
                    z-index: 999;
                    margin-top: 0;
                    margin-right: 35px;
                }
                .hamburger.active {
                    .bar {
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(1) {
                            transform: translateY(8px) rotate(45deg);
                        }
                        &:nth-child(3) {
                            transform: translateY(-8px) rotate(-45deg);
                        }
                    }
                }
            }
        }
        .button {
            margin-bottom: 50px;
            .back_btn {
                width: 15%;
                height: 35px;

                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 80px;
                margin-left: 40px;
            }
        }
        .book_info {
            width: 100%;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 30px;
            margin: 0 auto;

            .content {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 20px;
                order: 2;

                span {
                    width: 11%;
                    height: 22px;
                    font-size: 13px;
                }
            }
            .img {
                width: 80%;
                order: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 60%;
                }
            }
        }
        .user_feedback {
            width: 60%;
            margin-top: 90px;
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            margin-left: 70px;
            .user_comment {
                .comment {
                    height: 160px;
                }
            }
        }
    }
    .popup {
        form {
            width: 45%;
        }
    }
    footer {
        width: 100%;
        .menu_bar {
            .logo {
                img {
                    width: 85%;
                }
            }
            width: 95%;
            .menus {
                display: flex;
                column-gap: 30px;
                .menu {
                    ul {
                        li {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .term {
            margin-top: 60px;
            span {
                font-size: 11px;
            }
        }
        .mobile_footer {
            display: none;
        }
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .container {
        width: 90%;
        header {
            .logo {
                img {
                    width: 160px;
                    height: 70px;
                    margin-top: 20px;
                    margin-left: 35px;
                }
            }
        }
        .book_info {
            .img {
                width: 35%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;
                }
            }
        }
        .user_feedback {
            width: 40%;
            margin-top: 90px;
            display: flex;
            flex-direction: column;
            row-gap: 50px;
            form {
                width: 30%;
                display: flex;
                flex-direction: row;
                width: 100%;
                border: none;
                padding: 3px;
                background-color: #fff;
                border-radius: 7px;
                box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
                input {
                    width: 90%;
                    flex-grow: 2;
                    border: none;
                    background-color: transparent;
                    color: #000000;
                    font-family: sans-serif;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 3px;
                    border-radius: 7px;
                }
                button {
                    width: 30px;
                    height: 30px;
                    border: none;
                    border-radius: 7px;
                    background-color: #e16a00;
                    color: #fff;
                    cursor: pointer;
                    &:hover {
                        transform: scale(0.8);
                    }
                    i {
                        color: #fff;
                        border-radius: 30px;
                    }
                }
            }
            .user_comment {
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                .comment {
                    height: 150px;
                }
            }
        }
    }
    .popup {
        form {
            width: 35%;
        }
    }
    footer {
        width: 100%;
        .menu_bar {
            width: 90%;
            .menus {
                display: flex;
                column-gap: 40px;
                .menu {
                    ul {
                        li {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .term {
            margin-top: 70px;
        }
        .mobile_footer {
            display: none;
        }
    }
}
@media (min-width: 993px) and (max-width: 1125px) {
    .container {
        width: 90%;
        header {
            .logo {
                img {
                    width: 180px;
                    height: 70px;
                    margin-top: 20px;
                    margin-left: 35px;
                }
            }
        }
    }
    .popup {
        form {
            width: 30%;
        }
    }
}
@media (min-width: 1126px) and (max-width: 1400px) {
    .container {
        width: 90%;
        header {
            .logo {
                img {
                    width: 180px;
                    height: 70px;
                    margin-top: 20px;
                    margin-left: 35px;
                }
            }
        }
    }
}
